@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #f2f2f7;
  --background: #d9d9d9;
  --primary: #34c759;
  --foreground: #777777;
}

.dark {
  --main: #09090b;
  --background: #27272a;
  --foreground: #a1a1aa;
}

.brygada-1918 {
  font-family: "Brygada 1918", serif;
}

i {
  color: black;
}

.dark i {
  color: white;
}

::-webkit-scrollbar {
  background: #f8f9fa;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar {
  background: #09090b;
  width: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
}
